@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

.ql-editor {
  font-size: 1.05rem;
}

.post-content p {
  margin-bottom: 0.5rem;
}

.post-content h1 {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: sans-serif;
  margin: 1.5rem 0;
}

.post-content h2 {
  font-size: 1.4rem;
  font-family: sans-serif;
  margin: 1.5rem 0;
}

.post-content a {
  color: rgb(73, 149, 199);
  text-decoration: none;
}

.post-content a:hover {
  text-decoration: underline;
}

.dark .post-content a {
  color: red;
}

.special-style {
  color: '#FC2207';
  font-size: 100%;  /* Zvětšení písmena */
  font-family: "Poppins";
}
.custom-category {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px; /* upravte podle potřeby */
  padding: 3px;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-style: italic;
  font-weight: medium;
  text-align: center;
  color: gray;
  border: 2px solid; /* Nastavení rámečku */
  background: transparent;
  border-radius: 8px;
  transition: border-color 0.3s ease; /* Animace změny barvy */
}
